/* RESUME CONTAINER */
.resume-container {
  padding: 50px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin-top: 20px;
  }
  
  /* RESUME CONTAINER H1 */
  .resume-container h1 {
  margin-bottom: 20px;
  }
  
  /* RESUME LINKS */
  .resume-container a,
  .resume-container .resume-link {
  font-size: 16px;
  background-color: #fff;
  color: #4242b0;
  text-decoration: none;
   margin: 0 10px; 
  transition: color 0.3s ease;
  }
  
  /* RESUME LINKS HOVER EFFECT */
  .resume-container a:hover,
  .resume-container .resume-link:hover {
  color: #d5e2f0;
  }
  
  /* RESUME LINKS */
  .resume-link {
  font-size: 16px;
  background-color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
  }
  
  /* HOVER EFFECT RESUME LINKS */
  .resume-link:hover {
  color: #d5e2f0;
  }
  
  /* RESUME SECTION */
  .resume-section {
  text-align: left;
  margin-top: 30px;
  }
  
  /* RESUME SECTION H2 */
  .resume-section h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  }
  
  /* EXPERIENCE AND EDUCATION ITEM */
  .experience-item, .education-item {
  margin-bottom: 20px;
  }
  
  /* DATE */
  .date {
  font-style: italic;
  color: #555;
  margin-bottom: 10px;
  }

  /* EXPERIENCE AND EDUCATION ITEM H3 */
  ul {
  list-style-type: circle;
  margin-left: 20px;
  }
  
  /* LOCATION AND PHONE NUMBER */
  .location, .phone, .email {
  font-size: 15px; 
  font-style: italic;
  color: #555;
  text-align: center;
  }
  
  /* EXPERIENCE ITEM */
  .experience-item {
    margin-bottom: 20px;
    border-left: 2px solid #070708; 
    padding-left: 10px; 
  }
  
  /* EXPERIENCE ITEM H3 */
  .experience-item h3 {
  font-size: 30px;
  margin-bottom: 5px;
  }
  
  /* EXPERIENCE ITEM P */
  .experience-item p {
  padding-left: 20px;
  }
  
.skills-for-experience {
  border-color: 4px #070708;
}

/* CERTIFICATE IMAGE */
.education-image {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  margin-top: 10px;
  padding-left: 5px;
}
  
  /* BADGES AND ICONS */
  h2 b {
  font-size: 24px; 
  }
  
/* BADGERESUME STYLES */
.badgeresume {
  margin-bottom: 20px;
}

/* BADGERESUME IMAGE STYLES */
.badgeresume img {
  max-width: 100px;
  max-height: 100px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* BACKGROUND COLOR BADGE SECTIONS STYLES */
.badgeresume h3 {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  margin: 0;
  font-size: 22px;
}

/* RESUME SECTION H2 STYLES */
.resume-section h2 {
  font-size: 40px;
}

/* SKILLS SECTION STYLES */
.skills-section {
  text-align: left;
  margin-top: 30px;
}

/* SKILLS SECTION H2 STYLES */
.skills-section h2 {
  font-size: 40px;
}

/* BADGERESUME STYLES IN SKILLS SECTION */
.skills-section .badgeresume {
  margin-bottom: 20px;
}

/* BADGERESUME IMAGE STYLES IN SKILLS SECTION */
.skills-section .badgeresume img {
  max-width: 100px;
  max-height: 100px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* BACKGROUND COLOR BADGE SECTIONS STYLES IN SKILLS SECTION */
.skills-section .badgeresume h3 {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .location, .phone, .email {
    font-size: 14px;
    margin-bottom: 15px; 
    display: block; 
  }

  .phone {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}