/* RESUME CONTAINER */
/* RESUME CONTAINER */
.resume-container {
  padding: 50px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  margin-top: 20px;
  }
  
  /* RESUME CONTAINER H1 */
  .resume-container h1 {
  margin-bottom: 20px;
  }
  
  /* RESUME LINKS */
  .resume-container a,
  .resume-container .resume-link {
  font-size: 16px;
  background-color: #fff;
  text-decoration: none;
   margin: 0 10px; 
  transition: color 0.3s ease;
  }
  
  /* RESUME LINKS HOVER EFFECT */
  .resume-container a:hover,
  .resume-container .resume-link:hover {
  color: #d5e2f0;
  }
  
  /* RESUME LINKS */
  .resume-link {
  font-size: 16px;
  background-color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease;
  }
  
  /* HOVER EFFECT RESUME LINKS */
  .resume-link:hover {
  color: #d5e2f0;
  }
  
  /* RESUME SECTION */
  .resume-section {
  text-align: left;
  margin-top: 30px;
  }
  
  /* RESUME SECTION H2 */
  .resume-section h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  }
  
  /* EXPERIENCE AND EDUCATION ITEM */
  .experience-item, .education-item {
  margin-bottom: 20px;
  }
  
  /* DATE */
  .date {
  font-style: italic;
  color: #555;
  margin-bottom: 10px;
  }
        
  ul {
  list-style-type: circle;
  margin-left: 20px;
  }
  
  /* LOCATION AND PHONE NUMBER */
  .location, .phone {
  font-size: 18px; 
  }
  
  /* EXPERIENCE ITEM */
  .experience-item {
    margin-bottom: 20px;
    border-left: 2px solid #070708; 
    padding-left: 10px; 
  }
  
  /* EXPERIENCE ITEM H3 */
  .experience-item h3 {
  font-size: 25px;
  margin-bottom: 5px;
  }
  
  /* EXPERIENCE ITEM P */
  .experience-item p {
  padding-left: 20px;
  }
  
  
  /* BADGES AND ICONS */
  h2 b {
  font-size: 24px; 
  }
  
  .badgeresume {
    margin-bottom: 20px; 
    
  }
  
  .badgeresume img {
    max-width: 100px; 
    max-height: 100px; 
    margin: 10px; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* BACKGROUND COLOR BADGE SECTIONS */
  .badgeresume h3 {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    text-align: left; 
    margin: 0;
    font-size: 22px;
  }
  
  
  
  .resume-section h2 {
    font-size: 40px;
  }
  
  /* SKILLS SECTION */
  .skills-section {
    text-align: left;
    margin-top: 30px;
  }
  
  .skills-section h2 {
    font-size: 40px;
  }
  
  
  .skills-section .badgeresume {
    margin-bottom: 20px;
  }
  
  .skills-section .badgeresume img {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .skills-section .badgeresume h3 {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    margin: 0;
  }