/* Navigation Container */
.navbar {
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 22px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 18px;
  flex-wrap: wrap;
}

/* Navigation Links Container */
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Center the links */
}

/* Individual Link */
.nav-link {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
  margin: 5px; /* Add space between links */
}

/* Link Hover Effect */
.nav-link:hover {
  background-color: #555;
}

/* Add a style for the active link */
.active-link {
  background-color: #555;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack links vertically on smaller screens */
    align-items: flex-start; /* Align links to the left */
  }

  .nav-links {
    width: 100%; /* Full width for the links container */
    justify-content: flex-start; /* Align links to the left */
  }

  .nav-link {
    margin: 5px 20px; /* Adjust horizontal spacing */
    padding: 10px 0; /* Adjust vertical spacing */
    width: 100%; /* Full width for the links */
    transition: none; /* Remove the transition on small screens */
  }
}