
/* HOME CONTAINER */
.home-container {
  text-align: center;
  padding: 50px;
  position: relative;
  background-color: #605c5c;
  margin-top: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.home-header {
  font-size: 25px;
  color: rgb(245, 239, 239);
  border-bottom: 2px solid #e6e6f5;
  margin-bottom: 50px;
}

/* Skills Container */
.skills-container {
  text-align: center;
  padding: 40px;
  position: relative;
  background-color: rgb(58, 61, 64);
}

/* Skills Container */
.skills-container {
  text-align: center;
  margin: 50px;
}

/* Skills List */
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

