/* CONTACT STYLES */
.contact-container {
  text-align: center;
  padding: 60px;
  background-color: #333; 
  color: #fff; 
}

/* CONTACT HEADING */
.contact-container h1 {
  font-size: 60px;
}

/* CONTACT FORM STYLES */
.contact-form {
  max-width: 650px;
  margin: 0 auto;
  padding: 24px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* INPUT AND TEXTAREA STYLES */
.contact-form input,
.contact-form textarea {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 22px;
  background-color: #fff; 
  color: #333; 
}

/* TEXTAREA STYLES */
.contact-form textarea {
  resize: vertical;
  height: 150px;
}

/* CONTACT PARAGRAPH */
.contact-details p {
  font-size: 18px;
  margin: 15px 0;
  color: #555;
}