/* Contact Styles */
.contact-container {
  text-align: center;
  padding: 60px;
  background-color: #333; /* Set the background color for the contact section */
  color: #fff; /* Set the text color for the contact section */
}

/* Contact Heading */
.contact-container h1 {
  font-size: 60px;
}

/* Contact Form Styles */
.contact-form {
  max-width: 650px;
  margin: 0 auto;
  padding: 24px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Input and Textarea Styles */
.contact-form input,
.contact-form textarea {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 22px;
  background-color: #fff; /* Set the background color for input fields */
  color: #333; /* Set the text color for input fields */
}

/* Textarea Styles */
.contact-form textarea {
  resize: vertical;
  height: 150px;
}

/* Button Styles */
.contact-form button {
  display: block;
  width: 100%;
  padding: 12px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #0056b3;
}

/* Contact Paragraph */
.contact-details p {
  font-size: 18px;
  margin: 15px 0;
  color: #555;
}