/* FOOTER */
.footer-container {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
      
/* FOOTER SECTION */
.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 20px;
}
      
/* FOOTER LINKS */
.footer-section h4,
.footer-section p {
  margin: 5px 10px;
  font-size: 16.7px;
  color: #fff;
}

/* FOOTER LINKS */
.footer-section a {
  color: #f7f1f1; 
  text-decoration: none; 
}

/* Hover effect for links */
.footer-section a:hover {
  color: #aa74d3; 
}
      
/* Copyright Text */
.footer-section p:last-child {
  margin-top: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer-section {
    padding: 19px;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* FOOTER DETAILS */
  .footer-section h4,
  .footer-section p {
    font-size: 19px;
    flex-wrap: wrap;

  }
}